<!DOCTYPE html>
<html>
<head>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="js/dashboard.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl" class="container-fluid">
	<div class="row">
		<div id="divID" class="col-md-9 upper-div">
			<br/>
			Min - <input type="text" ng-model="filters.min" ng-init="filters.min=0" /> &nbsp; 
			Max - <input type="text" ng-model="filters.max" ng-init="filters.max=1" /> &nbsp; 
			Click on any cell to view videos! &nbsp;
			<select ng-model="selectedDataSet" ng-options="x for x in dataSet" ng-change="readCSV()">
			</select>
			<table>
				<tr ng-repeat="x in data track by $index">
					<td ng-repeat="y in x track by $index"
						style="background: -webkit-linear-gradient(left, #efe3af {{ y | percentage:2 }},#ffffff {{ y | percentage:2 }});" 
						ng-click="showVideos($parent.$index, $index, y)">{{ y | range:filters.min : filters.max }}</td>
				</tr>
			</table>
			&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		<div class="col-md-3 lower-div">
			<br/>
			<b>Score - {{score}}</b>
			<div class="row">
				<div class="col-md-4">
					Comments on this pair -
				</div>
				<div class="col-md-8">
					<textarea ng-model="comments"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<input type="button" value="Submit" ng-click="recordFeedback()" />
				</div>
				<div class="col-md-4">{{ feedback_response }}</div>
			</div>
			<br/>
			<div class="row well break-words"><b>{{videoId1}} - </b>{{ video1 }}
			<video id="video1" width="320" height="240" controls muted
							ng-src="{{ video1 }}" type="video/mp4"> Your browser does
							not support the video tag.
						</video></div>
			<div class="row well break-words"><b>{{videoId2}} - </b>{{ video2 }}
				<video id="video2" width="320" height="240" controls muted
							ng-src="{{ video2 }}" type="video/mp4"> Your browser does
							not support the video tag.
						</video></div>
				

		</div>
	</div>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	<link rel="stylesheet" href="css/dashboard.css" />
	
	<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
		crossorigin="anonymous">

</body>
</html>